@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Hind Siliguri', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary: var(--primary, #FFD700);
    --color-secondary: var(--secondary, #B8860B);
    --color-bg-main: var(--bg-main, #0a0a0a);
    --color-text-main: var(--text-main, #ffffff);
}

:root {
    --primary: #FFD700;
    --secondary: #B8860B;
    --bg-main: #0a0a0a;
    --text-main: #ffffff;
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
}